<section style="padding: 10px 0px 10px 0px">
  <h2 class="center">Coming Soon</h2>
  <p class="center" style="font-size: 19px">
    Didn't find your favourite Book in the catalog?
  </p>
  <p class="center" style="font-size: 18px">
    No worries! Below is the list of Books that will pe added to catalog next
    week. Hurry-Up! and pre-order to get the edition as soon as it lists and be
    at ease. Happy Reading!!
  </p>
  <section>
    <table>
      <thead>
        <tr>
          <th>Book Title</th>
          <th>Author</th>
          <th>Genre</th>
          <th>Buy Now</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Zaviya</td>
          <td>Ashfaq Ahmad</td>
          <td>Spirtuality</td>
          <td><a href="abc" id="buy">Pre Order</a></td>
        </tr>
        <tr>
          <td>Long Walk to Freedom</td>
          <td>Nelson Mendela</td>
          <td>Autobiography</td>
          <td><a href="abc" id="buy">Pre Order</a></td>
        </tr>
        <tr>
          <td>The Rihla</td>
          <td>Ibn-E-Batota</td>
          <td>Travel</td>
          <td><a href="abc" id="buy">Pre Order</a></td>
        </tr>
        <tr>
          <td>Gone Girl</td>
          <td>Gillian Flynn</td>
          <td>Thriller</td>
          <td><a href="abc" id="buy">Pre Order</a></td>
        </tr>
        <tr>
          <td>Harry Potter</td>
          <td>J.K. Rowling</td>
          <td>Fantacy</td>
          <td><a href="abc" id="buy">Pre Order</a></td>
        </tr>
        <tr>
          <td>Cold Blood</td>
          <td>Truman Capote</td>
          <td>Crime</td>
          <td><a href="abc" id="buy">Pre Order</a></td>
        </tr>
      </tbody>
    </table>
  </section>
</section>
