<section class="center">
  <h2 class="quote">
    "A reader lives a thousand lives before he dies. The man who never reads
    lives only one". (George R.R. Martin)
  </h2>
</section>
<h1 class="center">Available Books</h1>

<!-- Display books or a message if no books are found -->
<section id="book-container">
  <ng-container *ngIf="errorMessage; else bookList">
    <h1 style="grid-column: 2 / 3; text-align: center;">{{ errorMessage }}</h1>
  </ng-container>
 
  <ng-template #bookList>
    <section *ngFor="let item of displayedBooks; let i = index" class="book-item">
      <section class="book-img">
        <img [src]="item.img" alt="{{ item.title }}" />
      </section>
      <section class="book-detail">
        <section>
          <p><strong>{{ item.title }}</strong></p>
          <p style="margin: 0px"><strong>Author:</strong> {{ item.author }}</p>
          <p><strong>ID:</strong> {{ item.id }}</p>
          <p style="margin-top: 0px">{{ item.description }}</p>
          <a href="abc" id="buy" style="background-color: white">Buy Now</a>
        </section>
      </section>
    </section>
  </ng-template>
</section>

<section class="center">
  <form>
    <button type="button" id="load" (click)="loadMoreBooks()">
      Load More Books
    </button>
  </form>
</section>

