<section>
  <section class="vertical">
    <h2 class="center">Subscribe to our Newsletter to get latest updates!</h2>
    <section>
      <form>
        <section>
          <section class="hfix">
            <section class="vertical" style="padding: 10px 0px 0px 0px">
              <label for="fname" style="font-weight: bold; padding: 7px">
                First Name
              </label>
              <input
                type="text"
                id="fname"
                name="name"
                style="padding: 10px; border-radius: 10px"
                placeholder="Your Given Name"
                autocomplete="given-name"
                required
              />
              <label for="lname" style="font-weight: bold; padding: 7px">
                Last Name
              </label>
              <input
                type="text"
                id="lname"
                name="name"
                style="padding: 10px; border-radius: 10px"
                placeholder="Your Surame "
                autocomplete="family-name"
                required
              />
            </section>
            <section class="vertical" style="padding: 10px 0px 0px 0px">
              <label for="email" style="font-weight: bold; padding: 7px">
                Email
              </label>
              <input
                type="email"
                id="email"
                name="mail"
                style="padding: 10px; border-radius: 10px"
                placeholder="example@abc.com"
                required
              />
              <label for="pswd" style="font-weight: bold; padding: 7px">
                Password
              </label>
              <input
                type="password"
                id="pswd"
                name="pswrd"
                style="padding: 10px; border-radius: 10px"
                autocomplete="off"
              />
            </section>
            <section>
              <h3 style="margin: 0px; padding: 10px">Message</h3>
              <textarea
                name="message"
                rows="5"
                cols="35"
                style="padding: 10px; border-radius: 10px"
              >
Type your message here..</textarea
              >
            </section>
          </section>
          <section class="hfix" style="padding-top: 20px">
            <section class="vertical">
              <section class="center">
                <label for="age"
                  ><h3 style="margin: 0px; padding-bottom: 10px">
                    Select your age:
                  </h3></label
                >
              </section>
              <section class="center">
                <select
                  id="age"
                  name="age"
                  style="border-radius: 10px; padding: 7px"
                >
                  <option value="group1">Under 18</option>
                  <option value="group2">18-25</option>
                  <option value="group3">26-40</option>
                  <option value="group4">Above 40</option>
                </select>
              </section>
            </section>
            <section>
              <h3 class="center" style="margin: 0px; padding-bottom: 10px">
                Gender:
              </h3>
              <label for="male">Male</label>
              <input type="radio" id="male" name="gender" value="male" />
              <label for="female">Female</label>
              <input type="radio" id="female" name="gender" value="female" />
            </section>
            <section>
              <h3 class="center" style="margin: 0px; padding-bottom: 10px">
                Geners you are intrested in:
              </h3>
              <section class="center">
                <label for="t2">Novel</label>
                <input type="checkbox" id="t2" name="t2" value="Novel" />
                <label for="t3">Drama</label>
                <input type="checkbox" id="t3" name="t3" value="Drama" />
                <label for="t4">Business</label>
                <input type="checkbox" id="t4" name="t4" value="Business" />
              </section>
            </section>
          </section>
        </section>
        <section class="center" style="padding-top: 20px">
          <button type="submit" value="submit" style="font-size: 18px">
            SUBSCRIBE
          </button>
        </section>
      </form>
    </section>
  </section>
</section>
