<nav>
  <section class="horizontal" style="width: 100%">
    <section style="padding: 15px 10px">
      <a href="abc" id="buy" class="menu">Home</a>
      <a href="abc" id="buy" class="menu">Book Catalog</a>
      <a href="abc" id="buy" class="menu">Contact Us</a>
    </section>
    <section style="padding: 10px 30px 10px 10px">
      <form>
        <label for="gsearch" style="font-size: 26px; padding: 0px 10px"
          >Search:</label
        >
        <input
          type="search"
          id="search-bar"
          name="gsearch"
          placeholder="Enter Book Name ... "
          class="search"
        />
      </form>
    </section>
  </section>
</nav>
