nav {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0px;
  margin-left: 0px;
  height: 60px;
  width: 100%;
  background-color: rgb(193, 218, 227);
  border: 1px solid #ccc;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.9);
}
nav:hover {
  background-color: rgb(117, 235, 235);
}
.nav-text {
  font-size: 26px;
  font-weight: normal;
  padding: 20px 10px 10px 30px;
}

.menu {
  font-size: 26px;
  font-weight: normal;
  padding: 20px 10px 10px 20px;
}

.search {
  width: 300px;
  height: 40px;
  border-radius: 20px;
  font-family: "Calibri", sans-serif;
  font-size: 18px;
  padding: 0px 20px;
}
