<section>
  <h2 class="center">Testimonials</h2>
  <section class="horizontal">
    <section class="img-sec">
      <img src="assets/person1.jpg" class="round-image" />
      <p class="center" id="name">David Bloom</p>
    </section>
    <section style="background-color: dodgerblue">
      <p class="review">
        "Shopping for books online was such a breeze! I loved how easy it was to
        find new releases and classics alike. The convenience of having them
        delivered right to my doorstep made my reading journey even more
        enjoyable."
      </p>
      <p class="center" id="star">&#9733;&#9733;&#9733;&#9733;&#9734;</p>
    </section>
    <section class="img-sec">
      <img src="assets/person2.jpg" class="round-image" />
      <p class="center" id="name">Sitoshi Ferric</p>
    </section>
    <section style="background-color: dodgerblue">
      <p class="review">
        "Exploring new authors and genres through online bookstores has been a
        delightful experience. The vast selection and user-friendly interfaces
        made it effortless to find exactly what I was looking for. It's like
        having a bookstore at my fingertips, 24/7!"
      </p>
      <p class="center" id="star">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
    </section>
  </section>
</section>
